#home {
    position: relative;
    background: url(https://i.ibb.co/zHX2HSdz/abhiram.jpg) center/cover no-repeat;
    display: flex;
    align-items: center; /* Center the content */
    justify-content: center;
    text-align: center;
    height: 100vh; /* Full screen height */
    
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Dark overlay */
    z-index: 0; /* Ensures it stays behind the content */
}

#home h1 {
    z-index: 1; /* Brings it above the overlay */
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    letter-spacing: 0.25rem;
}



@media (max-width: 768px) {
    /* Home Section */
    #home h1 {
        font-size: 4rem; /* Reduce font size for mobile */
    }

}