#iste {
  position: relative;
  background: url(https://i.ibb.co/qM4sHhLC/Whats-App-Image-2025-02-09-at-14-08-40-cc47b0d2.jpg) center/cover no-repeat;
  display: flex;
  flex-direction: column; /* Stack items on small screens */
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 20vh; /* Allow section to grow if needed */
  padding: 2rem 1rem; /* Add some padding for better spacing */
  overflow: hidden; /* Prevent unwanted overflow */
}

#iste::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}


@media (max-width: 768px) {

  
}